<!Doctype html>
<html lang="fr">
    <%- include('head', { auth: user }) -%> 
    <body>
        <%- include('header', { auth: user }) -%> 
        <div class="container token-page">
            <div class="card">
                <div class="token">
                    <div class="language">
                        VOTRE TOKEN
                    </div>
                    <div class="code" id="copy-target">
                        <%= user.token %>
                    </div>
                    <div class="buttons">
                        <button class="regerate" id="regenerate-btn" onclick="regenerateToken()">REGÉNÉRER</button>
                        <button class="copy" id="copy-btn" onclick="copyToClipboard()">COPIER</button>
                    </div>
                </div>
            </div>
        </div>
        <%- include('footer') -%> 
        <script>
            const copyToClipboard = () => {
                const btn = document.getElementById('copy-btn');
                const el = document.getElementById('copy-target');
                window.getSelection().removeAllRanges();
                const range = document.createRange();
                range.selectNode(el);
                window.getSelection().addRange(range);
                document.execCommand('copy');
                btn.innerHTML = 'COPIÉ !'
                setTimeout(() => {
                    btn.innerHTML = 'COPIER'
                    window.getSelection().removeAllRanges();
                }, 2000);
            };

            const regenerateToken = () => {
                const btn = document.getElementById('regenerate-btn');
                fetch('/api/regenerate', { 
                    method: 'POST', 
                    headers: { 
                        'Authorization': `Bearer <%= user.token %>`, 
                        'Content-Type': 'application/json' 
                    },
                    body: JSON.stringify({ key: `<%= user.token_key %>` })
                })
                .then(r => r.json())
                .then(newToken => {
                    if(newToken.error) return;
                    document.getElementById('copy-target').innerHTML = newToken;
                    btn.innerHTML = 'REGÉNÉRÉ !'
                    setTimeout(() => {
                        btn.innerHTML = 'REGÉNÉRER'
                        window.getSelection().removeAllRanges();
                    }, 2000);
                })
            }
        </script>
    </body>
</html>