<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('imports/head') -%>
    <script defer src="/js/prism.js"></script>
  </head>
  <body>
    <%- include('imports/header', { auth: user }) -%>
    <div class="container">
      <section class="hero">
        <div class="joke">
          <div class="content">
            <span id="joke"><%= randomJoke.joke %></span><br />
            <span id="answer"><%= randomJoke.answer %></span>
          </div>
          <div class="footer">
            <div class="joke_type" id="type">
              <%= getTypeName(randomJoke.type) %>
            </div>
            <button id="next" onclick="nextJoke()">UNE AUTRE !</button>
          </div>
        </div>
      </section>
      <section class="informations">
        <div class="head">
          <h2 class="title">Qu’est ce que Blagues API ?</h2>
          <p>
            <strong>Blagues API</strong> est une API de blagues, rassemblant les
            meilleures blagues avec un total de
            <strong><%= count %> blagues</strong> françaises.
          </p>
          <p>Des blagues proposées par la communauté et catégorisées.</p>
          <p>
            L’API est accessible <strong>gratuitement</strong> et rassemble sur
            le
            <a href="https://discord.gg/PPNpVaF" title="Discord de Blagues API"
              >Discord</a
            >
            une communauté francophone.
          </p>
        </div>
        <div class="usecases" id="modules">
          <a href="#modules" class="title-container">
            <h3 class="title">Modules</h3>
          </a>
          <p>
            Deux modules officiels ont été développés afin de simplifier
            l'utilisation de Blagues API :
          </p>
          <ul class="modules-list">
            <li>
              <img class="icon" src="/icons/npm.png" alt="Npm" /> Module npm
              <a href="https://www.npmjs.com/package/blagues-api"
                >blagues-api</a
              >
              (ES6, CommonJS, Browser)
            </li>
            <li>
              <img class="icon" src="/icons/pypi.png" alt="PyPi" /> Module pypi
              <a href="https://pypi.org/project/blagues-api">blagues-api</a>
              (python >= 3.8)
            </li>
          </ul>
        </div>
        <div class="usecases" id="use">
          <a href="#use" class="title-container">
            <h3 class="title">Utilisation</h3>
          </a>
          <p>
            Différentes routes vous sont rendues disponibles afin d'adapter
            l'API à votre projet. Les différents mots clés vous permettront de
            récupérer une blague aléatoirement dans un thème ou type de blague
            spécifique.
          </p>
          <div class="example">
            <h4 class="language">BLAGUE ALÉATOIRE</h4>
            <pre><code class="language-javascript">GET /api/random</code></pre>
          </div>
          <div class="example">
            <h4 class="language">BLAGUE ALÉATOIRE CATÉGORISÉ</h4>
            <pre><code class="language-javascript">GET /api/type/:type:/random // type: global, dev, dark, limit, beauf, blondes</code></pre>
          </div>
          <div class="example">
            <h4 class="language">BLAGUE PAR ID</h4>
            <pre><code class="language-javascript">GET /api/id/:id:</code></pre>
          </div>
        </div>
        <div class="usecases" id="advanced-use">
          <a href="#advanced-use" class="title-container">
            <h3 class="title">Utilisation avancée</h3>
          </a>
          <p>
            Parfois certains types d'humour dérangent certaines personnes, hors
            Blagues API est une API publique qui s'est donné comme mission de
            convenir aux tous types d'humour. C'est pour cela que nous vous
            offrons la possibilité de filtrer les blagues et donc d'en retirer
            celles qui font partie d'une catégorie qui ne vous convient pas.
          </p>
          <div class="example">
            <h4 class="language">UTILISATION D'UN SEUL FILTRE</h4>
            <pre><code class="language-javascript">GET /api/random?disallow=dark</code></pre>
          </div>
          <div class="example">
            <h4 class="language">UTILISATION DE PLUSIEURS FILTRES</h4>
            <pre><code class="language-javascript">GET /api/random?disallow=dark&disallow=limit&disallow=dev</code></pre>
          </div>
        </div>
        <div class="usecases" id="auth">
          <a href="#auth" class="title-container">
            <h3 class="title">Authentification</h3>
          </a>
          <p>
            L'API de blagues utilise un token d'authentification Bearer pour les
            requêtes. Vous pouvez le gérer depuis votre profil.<br />
            Les requêtes doivent toutes être effectuées via
            <a href="http://en.wikipedia.org/wiki/HTTP_Secure">HTTPS</a>. Tous
            les appels effectuées sans authentification ou en HTTP
            échoueront.<br />
            Si vous avez des difficultées à obtenir un certificat HTTPS, voici
            <a href="https://certbot.eff.org/">Certbot</a>, un outil qui permet
            d'en obtenir un gratuitement !
          </p>
          <div class="example">
            <pre><code class="language-bash">curl https://www.blagues-api.fr/api/random \
-H "Authorization: Bearer [TOKEN]" \</code></pre>
          </div>
        </div>
        <div class="usecases" id="example">
          <a href="#example" class="title-container">
            <h3 class="title">Exemple</h3>
          </a>
          <p>
            Voici un exemple sous forme de cas d'utilisation de l'API dans le
            cas où l'on souhaite récupérer une blague aléatoirement dans le
            répertoire toute catégorie confondue :
          </p>
          <div class="example">
            <span class="language">JAVASCRIPT</span>
            <pre><code class="language-javascript">fetch('https://www.blagues-api.fr/api/random', {
    headers: {
        'Authorization': `Bearer [TOKEN]`
    }
})
.then(response => response.json())
.then(data => {
    console.log(data)
    /* Expected output:
    {
        "id": 1,
        "type": "dev",
        "joke": "Un développeur ne descend pas du métro.",
        "answer": "Il libère la RAM..."
    }
    */
})</code></pre>
          </div>
        </div>
        <div class="usecases" id="thanks">
          <a href="#thanks" class="title-container">
            <h3 class="title">Remerciements</h3>
          </a>
          <p>
            Un grand merci à toute la communauté qui a contribué au projet que
            ça soit sur le Discord ou sur le GitHub en apportant leurs ajouts et
            modifications au code de l'API, mais également à tous ceux qui ont
            proposé leurs blagues afin d'agrandir le répertoire de l'API. Le
            nombre de blagues françaises continuent de grandir de jours en
            jours. Merci à vous !
          </p>
        </div>
      </section>
    </div>
    <%- include('imports/footer') -%>
    <script>
      const typeRefs = {
        limit: 'Blague limite limite',
        global: 'Blague normale',
        dark: 'Blague humour noir',
        dev: 'Blague de développeurs',
        beauf: 'Humour de beaufs',
        blondes: 'Blagues blondes'
      };
      const nextJoke = () => {
        fetch('/api/random', {
          headers: { Authorization: `Bearer <%= token %>` }
        })
          .then((r) => r.json())
          .then(({ type, joke, answer }) => {
            document.getElementById('joke').innerHTML = joke;
            document.getElementById('answer').innerHTML = answer;
            document.getElementById('type').innerHTML = typeRefs[type];
          });
      };
    </script>
  </body>
</html>
